@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --link-color: #7a6960;
  --active-link: rgb(26, 151, 245);
  --title-color: #4e4039;
  --text-color: #a08f86;
  --theme-color: #cce4f7;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

.footer-link:hover {
  opacity: 0.8;
}

.scrollup {
  position: fixed;
  right: 2rem;
  bottom: -20%;
  background-color: var(--active-link);
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  z-index: 100;
  transition: 0.4s;
  color: #fff;
}

.scrollup:hover {
  opacity: 0.8;
}

.show-scroll {
  bottom: 5rem;
}

.hide {
  display: none;
}

.modal-underlay {
  height: 100vh;
  background: rgba(78, 64, 57, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-icon {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5rem 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

.contact-link > a {
  background-color: var(--active-link);
  padding: 10px 25px;
  border-radius: 50px;
  border: 1px solid var(--active-link);
  color: white;
  transition: all 0.3s ease-in-out;
}

.contact-link > a:hover {
  color: #4e4039;
  background: none;
}
.tool-bar > a {
  color: var(--link-color);
}

.close-menu {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.mobile-links {
  background-color: #fff;
  height: 80%;
  width: 90%;
  padding: 1rem;
}

.mobile-links > li {
  margin-top: 1.5rem;
  color: var(--link-color);
}

.mobile-link {
  font-size: 16px;
  color: var(--link-color);
}

.desktop {
  display: none;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.9rem 1rem;
  font-size: 30px;
  color: var(--link-color);
  align-items: center;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0%;
  z-index: 20;
  background-color: #fff;
}

.headline {
  background-color: var(--theme-color);
  border-bottom: 2px solid #fcebe3;
  padding: 3.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  z-index: 10;
}

.hero-img {
  width: 80%;
  animation: moveUpDown 2s infinite alternate;
}

@keyframes moveUpDown {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
  animation: up 1s;
}

@keyframes up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

.contact-btn {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: var(--active-link);
  letter-spacing: 1px;
  border-radius: 3px;
}

.contact-btn:hover {
  opacity: 0.8;
}

.header-text {
  font-size: var(--big-font-size);
  color: var(--title-color);
  font-weight: 900;
  line-height: 36px;
}

.headline-description {
  color: #5a6570;
  font-size: 17px;
  margin-top: 1.5rem;
  line-height: 24px;
  margin-bottom: 3rem;
}

.contact-icon {
  margin-left: 0.5rem;
}

.section {
  padding: 3.5rem 1rem;
}

.section-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header > h1 {
  font-size: var(--big-font-size);
  color: var(--title-color);
  font-weight: 900;
  line-height: 36px;
  margin-bottom: 0.5rem;
}

.section-header > span {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-style: italic;
}

.description {
  color: #5a6570;
  line-height: 24px;
  margin-top: 1.5rem;
}

.content-img {
  width: 80%;
  margin: 1.5rem;
}

.underline {
  background-color: var(--active-link);
  height: 0.1rem;
  width: 5rem;
  border-radius: 26px;
  margin-top: 0.5rem;
}

.mission {
  background-color: var(--theme-color);
}

.team {
  background-color: #fff;
}

.map {
  width: 100%;
  margin-top: 2rem;
  border-top: 3px solid var(--active-link);
  border-bottom: 3px solid var(--active-link);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 2rem 1rem;
}

.location-div {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 90%;
  padding: 0 1.5rem;
}

.place {
  text-align: start;
  width: 75%;
}

.background-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--theme-color);
  border-radius: 50%;
}

.location-icon {
  font-size: 30px;
  color: var(--active-link);
}

.place > h3 {
  font-size: 22px;
  color: var(--title-color);
  margin-bottom: 0.3rem;
}

.place > span {
  font-size: 14px;
  color: var(--text-color);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  text-align: start;
  padding: 0 1rem;
  width: 100%;
}

.form > div > input {
  padding: 10px 12px;
  margin-top: 0.2rem;
  outline: none;
  border: 1px solid #dee2e6;
  font-size: 0.9rem;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
}

.form > div > textarea {
  outline: none;
  font-family: 'Raleway', sans-serif;
  border: 1px solid #dee2e6;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
}

.form > button {
  margin-top: 1rem;
  cursor: pointer;
  justify-self: start;
}

.form-div {
  margin-top: 2rem;
}

li {
  list-style: none;
}
.footer {
  padding: 3.5rem 1rem;
  background-color: var(--theme-color);
}

.oasis > h2 {
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  color: var(--title-color);
  font-weight: 900;
}

.important-links {
  margin-top: 1rem;
}

.important-links > li {
  margin-top: 0.5rem;
}

.important-links > li > a {
  color: var(--active-link);
}

.social-links {
  display: flex;
  margin: 1rem 0;
  gap: 0.8rem;
}

.social-links > li > a > i {
  font-size: 1.5rem;
  color: var(--active-link);
}

.footer > span {
  color: var(--text-color);
}

@media only screen and (min-width: 768px) {
  .headline {
    display: flex;
    flex-direction: row-reverse;
    padding: 8rem 5rem;
  }

  .hero-img {
    width: 40%;
  }

  .header-text {
    line-height: 3.5rem;
    width: 75%;
  }

  .headline > div {
    margin-right: 1rem;
  }
  .outline {
    color: var(--active-link);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fcebe3;
  }

  .first {
    display: flex;
    padding: 3rem 5rem;
    gap: 3rem;
    text-align: start;
    align-items: center;
  }

  .mission {
    padding: 3rem 5rem;
  }

  .second {
    flex-direction: row-reverse;
  }

  .first > img,
  .second > img {
    width: 45%;
    background-color: white;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mission-description {
    width: 50%;
  }

  .first > p {
    width: 50%;
  }

  .content-img {
    width: 45%;
  }

  .map {
    width: 40%;
    padding: 2rem;
  }

  .contact-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }

  .form-div {
    width: 40%;
    padding: 2rem;
  }

  .contact-us,
  .team,
  .mission,
  .products {
    padding: 8rem 0;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .location-div {
    justify-content: unset;
    gap: 1rem;
  }

  .footer-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer > span {
    width: 100%;
    text-align: center;
  }

  .tool-bar {
    display: none;
  }

  .desktop {
    display: flex;
    padding: 0.5rem 3rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  .desktop-links {
    display: flex;
    gap: 1.3rem;
    align-items: center;
  }

  .desktop-link {
    font-size: 15px;
    color: #4e4039;
  }
}

.active-link {
  color: var(--active-link);
}

.logo {
  width: 60px;
  height: 60px;
}

.tool-bar > a {
  display: flex;
  align-items: center;
}
